.container{
    margin: 100px 20px 0px 20px;
}
.download{
    background-color: aliceblue;
    padding: 10px;
    text-decoration: none;
    background-color: lightslategrey;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
}
.download:hover{
    background-color: #FA578D;
    transition: 0.6s;
}

.column img{
    width: 100%;
}
.column{
    float: left;
    width: 33.33%;
    padding: 10px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}